@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Source+Sans+Pro:wght@300;400;700&display=swap");
:root {
   font-family: "Source Sans Pro", sans-serif;
   /* sans-szeryf */
   /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

body {
   background-color: rgb(0, 51, 51);
   color: white;
}
one,
two,
three,
four {
   display: flex;
   gap: 20px;
   margin: 20px;
}
/* *::before,
*::after {
  content: "ALAN";
} */
/*tryb dla dzioka*/
one .bg {
   position: relative;
   height: 90.69vh;
   aspect-ratio: 170/240; /*zmiana aspect ratio !!!*/
   background-image: url("https://ocdn.eu/images/pulscms/YmQ7MDA_/408b55d06a1321e472fb0c7e01b9bb2d.jpg");
   background-size: 100% 100%;
   position: relative;
   display: inline-block;
}
one .inputs {
   display: inline-block;
}
.wyd {
   position: absolute;
   bottom: 0;
   right: 40px;
   background: rgb(0, 5, 70);
   width: 60px;
   aspect-ratio: 1;
}
.wyd img {
   border-radius: calc("");
   width: 50px;
   margin: 5px;
   aspect-ratio: 1 / 1;
}
one .content {
   position: absolute;
   left: 0;
   top: 48%;
   display: flex;
   color: white;
   width: 100%;
   height: 19%;
   background-color: rgba(0, 0, 0, 0.781);
}
one .content .zakres {
   position: absolute;
   top: 100%;
   width: calc(100% - 25px);
   background-color: green;
   padding-block: 4px;
   padding-left: 25px;
   font-weight: bold;
}
one .content .txt {
   width: 85%;
   display: flex;
   flex-direction: column;
}
one .txt .title {
   padding: 10px 10px 5px 20px;
   font-size: 2.6em;
   font-weight: bold;
}
one .sub1,
one .sub2 {
   font-size: 1em;
   padding: 2px 10px 2px 20px;
}
one .sub2 {
   padding-bottom: 20px;
}
one .nr {
   height: 100%;
   font-size: 5em;
   display: inline-grid;
   place-items: center;
   font-weight: bold;
}
one .dlaabsolwentuf {
   rotate: 715deg;
   display: grid;
   place-items: center;
   position: absolute;
   right: 25px;
   top: 25px;
   padding: 13px;
   aspect-ratio: 1 / 1;
   background-color: #d10478;
   border-radius: calc(420% + 69%);
   color: #ffffff;
}

one .dlaabsolwentuf h1 {
   text-align: center;
   font-size: 14px;
}

two .card {
   position: relative;
   height: 90.69vh;
   aspect-ratio: 210/297; /*zmiana aspect ratio !!!*/
   /* background-image: url("https://ocdn.eu/images/pulscms/YmQ7MDA_/408b55d06a1321e472fb0c7e01b9bb2d.jpg"); */
   background-size: cover;
   position: relative;
   display: inline-block;
}

two .content {
   width: 100%;
   height: 35%;
   background-color: var(--clr1);
   color: white;
   box-sizing: border-box;
   padding: 25px;
}
two .mainImg {
   background-image: url("https://image.shutterstock.com/image-illustration/trollface-laughing-internet-meme-troll-600w-1956255706.jpg");
   background-size: 100% 100%;
   width: 100%;
   height: 65%;
}
two .top {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
two .top :first-child {
   display: flex;
   align-items: center;
   gap: 10px;
}
two .top :first-child .nr {
   font-size: 2em;
   font-weight: 1000;
   display: inline-grid;
   place-items: center;
   padding: 0;
   border-radius: 69%;
   background-color: var(--clr2);
   width: 40px;
   aspect-ratio: 1/1;
   color: var(--clr1);
}
two .top :first-child .sub {
   width: 125px;
   line-break: normal;
   font-size: 0.79em;
   color: var(--clr3);
}
two .top .author1,
two .top .author2 {
   display: flex;
   justify-content: flex-end;
   font-weight: bold;
   font-size: 0.9em;
   color: var(--clr3);
}
two .title1,
two .title2 {
   line-height: 45px;
   display: block;
   width: 60%;
   line-break: normal;
   font-size: 3.5em;
   font-weight: 700;
}
two .title1 {
   margin-top: 30px;
   color: var(--clr3);
}
two .title2 {
   color: var(--clr2);
}
three .card {
   position: relative;
   height: 90.69vh;
   aspect-ratio: 160/230; /*zmiana aspect ratio !!!*/
   /* background-image: url("https://ocdn.eu/images/pulscms/YmQ7MDA_/408b55d06a1321e472fb0c7e01b9bb2d.jpg"); */
   background-size: cover;
   position: relative;
   display: inline-block;
}
three .content {
   width: 100%;
   height: 100%;
   position: relative;
}
three .wyd {
   background-color: transparent;
   position: initial;
}
three .right {
   height: 100%;
   width: 20%;
   background-color: var(--clr1);
   opacity: 0.98;
   position: absolute;
   right: 0;
   top: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
three .right .nr {
   color: var(--clr4);
   font-weight: 700;
   font-size: 8em;
}
three .top {
   position: relative;
   background-color: var(--clr2);
   width: 100%;
   height: 33%;
}
three .imgMain {
   width: 100%;
   height: 57%;
   background-image: url("https://static.wikia.nocookie.net/breakingbad/images/4/43/Season_2_promo_pic_4.jpg");
   background-size: 100% 100%;
}
three .footer {
   background-color: var(--clr2);
   height: 10%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding-left: 40px;
   font-size: 1.5em;
   letter-spacing: 0.18em;
   font-weight: 400;
   text-transform: uppercase;
   color: var(--clr1);
}
three .authors {
   width: 100%;
   box-sizing: border-box;
   padding: 15px 30px;
   color: var(--clr1);
}
three .title {
   position: absolute;
   top: 45%;
   left: 50%;
   color: var(--clr1);
   font-weight: 700;
   text-transform: uppercase;
   font-size: 3.5em;
   width: fit-content;
   letter-spacing: -0.02em;
   transform: translate(-55%, -50%) scaleX(0.85);
}
three .sub {
   position: absolute;
   color: var(--clr3);
   font-weight: 700;
   font-size: 1.2em;
   width: max-content;
   top: calc(45% + 2.6em);
   left: 50%;
   letter-spacing: -0.02em;
   transform: translate(-55%, -50%) scaleX(0.85);
}
four .card {
   overflow: hidden;
   position: relative;
   height: 90.69vh;
   aspect-ratio: 162/235; /*zmiana aspect ratio !!!*/
   /* background-image: url("https://ocdn.eu/images/pulscms/YmQ7MDA_/408b55d06a1321e472fb0c7e01b9bb2d.jpg"); */
   background-size: cover;
   position: relative;
   display: inline-block;
}
four .wyd {
   right: auto;
   left: 20px;
   background-color: rgba(255, 255, 255, 0.345);
}
four .niceWhite {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 20%;
   background-color: var(--clr2);
   box-shadow: 0px 0px 10px 10px var(--clr2);
}
four .imgMain {
   position: absolute;
   top: 20%;
   left: 0;
   z-index: -1;
   width: 100%;
   height: 80%;
   background-image: url("https://storage.googleapis.com/pod_public/750/124250.jpg");
   background-size: 100% 100%;
}
four .title1 {
   z-index: 100;
   position: absolute;
   background-color: var(--clr4);
   top: 5%;
   right: 2%;
   width: 90%;
   height: 25%;
   clip-path: polygon(0 4%, 100% 0, 93% 100%, 10% 85%);
   font-size: 3em;
   text-shadow: 2px 2px 0px black;
   display: flex;
   justify-content: center;
   font-weight: 700;
}
four .title2 {
   z-index: 101;
   position: absolute;
   background-color: var(--clr3);
   top: 14.5%;
   right: -3%;
   width: 80%;
   padding: 3px;
   transform: rotateZ(-2deg);
   font-size: 2.6em;
   display: flex;
   justify-content: center;
   font-weight: 700;
   clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%);
   border-radius: 5px;
}
four .imgSmallContainer {
   position: absolute;
   bottom: 10%;
   left: 20%;
   width: 40%;
   aspect-ratio: 1/1;
   background-color: var(--clr1);
   border-radius: 50%;
}
four .imgSmall {
   position: absolute;
   top: 4%;
   left: 4%;
   background-image: url("https://i1.sndcdn.com/avatars-000567724821-w2ukkh-t500x500.jpg");
   background-size: 100% 100%;
   border-radius: 50%;
   width: 95%;
   aspect-ratio: 1/1;
}
four .nr {
   position: absolute;
   bottom: 23%;
   right: 10%;
   display: grid;
   place-items: center;
   width: 75px;
   aspect-ratio: 1/1;
   border-radius: 50%;
   font-size: 3.4em;
   font-weight: 700;
   border: 3px solid var(--clr2);
   background-color: var(--clr5);
}
four .religia {
   position: absolute;
   display: flex;
   justify-content: flex-start;
   align-content: center;
   padding-left: 20px;
   box-sizing: border-box;
   flex-wrap: wrap;
   bottom: 1%;
   right: 4px;
   background-color: var(--clr1);
   width: 47%;
   height: 25%;
   clip-path: polygon(0 14%, 100% 15%, 96% 80%, 10% 87%);
}
four .subject {
   text-transform: uppercase;
   color: var(--clr2);
   font-weight: 700;
   font-size: 2em;
}
four .subtitle {
   text-transform: uppercase;
   color: var(--clr2);
   font-weight: 400;
   font-size: 0.8em;
}
