body {
  margin: 0;
  background-color: black;
  color: white;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Courier";
  font-size: 9pt;
  line-height: 5pt;
  letter-spacing: 1px;
  min-height: 100vh;
  width: 100%;
}
video {
  width: 100%;
}
.videoAsciiEdit {
  display: none;
}
main {
  display: none;
}
